* text=auto

*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.csv text eol=lf

*.zip binary
*.rar binary
*.7z binary
*.step binary
*.epro binary
*.eprj2 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
